body{
    font-size:1.5em;
    height: 100%;
}

#header {font-weight: bold;}
#table {position: relative;}

.team{
    position: absolute;
    -webkit-transition:all 1s;
}

span{ display: inline-block; }
span:nth-child(1) {width: 10em;}
span:nth-child(n+2) {width: 2em; text-align: center;}

